/* 
.headingoptions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
} */
/* .profilepic{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 10%;
    
} */

#profilepic{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 400px;
    width: 400px;
    margin-left: 0%;

}

.profileh1{
    align-self: flex-end;
    font-size: 2em;
    margin-bottom: 0;
    margin-right: 10vw;
}
.profileh2{
    align-self: flex-end;
    margin-right: 8vw;
    margin-top: 0;
    margin-bottom: 1vh
}


nav{
    color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
   
}
headinglayout{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 50%;
}
#headingDetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;

}
#overallHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body{
    display: flex;
    background-color: rgb(30, 158, 21);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    color:black;
}
.aboutMe{
    height: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#about{
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;

}
.website{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pythonweb{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* input{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* div{
    display: flex;
} */